<html>
    <head>
        <title>chat</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9bc671aedc.js" crossorigin="anonymous"></script>
        <style>
            /* 전체 화면 스타일 */
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
                background-color: #f0f8ff; /* 하늘색 배경 */
            }
    
            /* 채팅 컨테이너 스타일 */
            .wrap {
                display: flex;
                flex-direction: column;
                height: 100vh;
            }
    
            /* 상단 네비게이션 바 스타일 */
            .main-navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: #333; /* 네비게이션 바 배경색 */
                color: #fff; /* 글자색 */
            }
    
            /* 중앙 컨테이너 스타일 */
            .container {
                display: flex;
                flex: 1;
            }
    
            /* 왼쪽 컨테이너 스타일 */
            .left-container {
                width: 20%;
                background-color: #444; /* 왼쪽 컨테이너 배경색 */
                color: #fff; /* 글자색 */
            }
    
            /* 유저 목록 스타일 */
            .nickname_box {
                list-style-type: none;
                padding: 0;
            }
    
            .nickname_box li {
                padding: 10px;
                cursor: pointer;
            }
    
            /* 내 계정 정보 스타일 */
            .my-account {
                margin-top: 20px;
                text-align: center;
            }
    
            .profile {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            .fa-circle-user {
                font-size: 48px;
                margin-bottom: 10px;
                color: #123456; /* 아이콘 색상 (파란색) */
            }
    
            /* 채팅 영역 스타일 */
            .chat-area {
                flex: 1;
                padding: 20px;
                background-color: #fff; /* 채팅 영역 배경색 */
                border-left: 1px solid #ddd; /* 왼쪽 테두리 */
            }
    
            /* 채팅 타이틀 스타일 */
            .chat-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                font-size: 24px;
            }
    
            /* 채팅 메시지 목록 스타일 */
            .chat-list {
                height: 100%;
                overflow-y: auto;
            }
    
            .chat {
                list-style-type: none;
                padding: 0;
            }
    
            .chat li {
                margin-bottom: 10px;
            }
    
            /* 입력 영역 스타일 */
            .input-area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
            }
    
            .input-wrapper {
                flex: 1;
                display: flex;
                align-items: center;
                border: 1px solid #ddd; /* 입력 영역 테두리 */
                border-radius: 5px;
                padding: 5px;
            }
    
            textarea {
                flex: 1;
                border: none;
                resize: none;
                padding: 5px;
                font-size: 16px;
            }
    
            .fa-smile-o,
            .fa-paperclip {
                margin: 0 10px;
                font-size: 20px;
                cursor: pointer;
            }
    
            .send-btn {
                padding: 5px 10px;
                background-color: #007bff; /* 전송 버튼 배경색 (파란색) */
                color: #fff; /* 버튼 글자색 */
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
    
            .send-btn:hover {
                background-color: #0056b3; /* 버튼에 호버 효과 (더 진한 파란색) */
            }
    
            /* 알림 스타일 */
            .notification {
                text-align: center;
                color: #888; /* 알림 글자색 (회색) */
            }
            .my {
                text-align: right;
            }
            
            .my .msg {
                background-color: #DCF8C6;
                border-radius: 15px 15px 0 15px;
                display: inline-block;
                padding: 5px 10px;
            }
            
            .other {
                text-align: left;
            }
            
            .other .msg {
                background-color: #E0E0E0;
                border-radius: 15px 15px 15px 0;
                display: inline-block;
                padding: 5px 10px;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <!-- top-navbar -->
            <div class="main-navbar"> 
                <div class="dots">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                </div>
                <div class="title">
                    <span> Chat </span>
                </div>
                <div class="expand">
                    <i class="fa fa-expand"></i>
                </div>
            </div>

            <div class="container">
                <div class="left-container">
                    <ul class="nickname_box" id="nickname_box">
                        <li class="board"><a href="#"><i class="fa fa-list-alt"></i><span>Dashboard</span></a></li>
                        <li class="item active"><a href="#"><i class="fa fa-users"></i><span>Team chat</span></a></li>
                        <!-- <li class="item"><a href="#"><i class="fa fa-user"></i><span>nickname1</span></a></li> -->
                        <div class="my-account">
                            <div class="profile">
                                <i class="fa fa-circle-user"></i>
                                <span class="name" id="name"><%=seller%></span>
                                <span class="availability">Available</span>
                            </div>  
                        </div>
                    </ul>
                </div>
                <!-- chat -->
                <div class="chat-area">
                    <div class="chat-title" id="chat-title">
                        <span><%= seller %></span>
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="chat-list" class="chat-list">
                        <!-- chat message -->
                        <ol class="chat" id="chat">
                        </ol>
                    </div>
                    <!-- input -->
                    <div class="input-area">
                        <div class="input-wrapper">
                            <textarea id="message" value=""></textarea>
                            <i class="fa fa-smile-o"></i>
                            <i class="fa fa-paperclip"></i>
                        </div>
                        <input type="button" onclick="send();" value="submit" class="send-btn">
                    </div>
                </div>
            </div>
        </div>
        <script>
    var nickname = '<%= name %>'; // 변경: 내용으로 닉네임 채우기
    $(".fa-circle-user").attr("style", `color: <%= color %>`);

    var socket = io.connect();
    socket.emit('info', {nickname: nickname});
    console.log("nickname:", nickname);

    /* 입장 alert */
    socket.on("notice", function(data) {
        let chat = document.getElementById("chat");
        let p = document.createElement("p");
        p.textContent = data;
        p.className = "notification";
        chat.appendChild(p);
    })

    /* 유저 list */
    socket.on('list', function(list) {
        // 변경: 유저 목록 업데이트 처리
        // ...
    })

    /* 보낼 사람 선택 */
    var nick = "Team chat"; // 초기 선택값 설정
    $(document).on("click",".item",function(){
        // 변경: 선택한 사람의  이름을 nick 변수에 할당
        nick = $(this).text();
        // ...
    });

    /*  message 보내기 */
/* message 보내기 */
    function send() {
        let msg = document.getElementById("message").value;
        if (msg !== '') {
            socket.emit("send", {to: nick, msg: msg, nickname: nickname}); // 변경: 닉네임도 함께 전송
            document.getElementById("message").value = '';
        }
    }
    /*  message 받기 */
    /*  message 받기 */
socket.on("newMessage", function(data){
    let chatList = document.getElementById("chat");

    let li = document.createElement("li");
    let div = document.createElement("div");
    div.classList.add("msg");

    if (data.nickname === nickname) { // 내 메시지
        li.classList.add("my");
    } else { // 다른 사람의 메시지
        let divName = document.createElement("div");
        if (data.is_dm) {
            divName.textContent = "(DM) " + data.nickname;
        } else {
            divName.textContent = data.nickname;
        }
        divName.classList.add("user");
        li.classList.add("other");
        div.appendChild(divName);
    }

    // 메시지 내용
    data.msg = data.msg.split("\n");
    for (var msg of data.msg) {
        let p = document.createElement("p");
        p.textContent = msg;
        div.appendChild(p);
    }

    li.appendChild(div);
    chatList.appendChild(li);
    
    // 스크롤을 맨 아래로 이동
    chatList.scrollTop = chatList.scrollHeight;
})


    /* enter key 처리 */
    var input = document.getElementById("message");

    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            if (!event.shiftKey) {
                event.preventDefault();
                send();
            }
        }
    });
</script>
    </body>
</html>