<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <style>
        /* google font: Noto Sans KR */
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

        :root {
            --color-signature: #3585c1;
            --color-carrot-market: #ff8a3d;
            --color-joonggonara: #e8344e;
            --color-hello-market: #0484f6;

            --white-normal: #fafafa;
            --white-dark: #f3f3f3;

            --purple-normal: #a238d9;
            --purple-highlight: #C338FA;

            --black-normal: #18191A;

            --grey-normal: #242526;
            --grey-light: #3a3b3c;
            --grey-lighter: #ACAFB3;

            --red-normal: #ff0000;

            --text-smaller: 0.8rem;
            --text-small: 1.1rem;
            --text-normal: 1.25rem;
            --text-littlebig: 2rem;
            --text-big: 3rem;
            --text-ultrabig: 5rem;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body {
            font-size: 10px;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 800px;
            margin: 0px auto;
            text-align: center;
        }

        #header {
            text-align: left;

        }

        #header > h1 {
            display: inline-block;
            font-weight: normal;
            font-size: var(--text-littlebig);
            color: var(--black-normal);
        }

        #back-button {
            background-color: transparent;
            display: inline-block;
            border: none;
            padding-top: 0px;
            padding-left: 5px;
            padding-right: 10px;
            color: var(--black-normal);
        }

        /* goods */
        #goods-box {
            /*background-color: aqua;*/
            margin-top: 20px;
            text-align: left;
        }

        .goods-card {
            /*background-color: var(--white-dark);*/
            /*border-radius: 3px;*/
            display: inline-block;
            width: 192px;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            color: var(--white-normal);
        }

        .goods-card-img {

            /* 이미지의 크기가 표시하려는 영역의 크기와 일치하지 않아도 이미지의 전체 영역이 보여질 수 있도록 합니다. */
            background-size: cover;
            background-position: center;

            border-radius: 3px;

            /* 이미지의 비율이 1:1이 아니더라도 stretch되지 않도록 막습니다. */
            width: 172px;
            min-height: 172px;
            object-fit: cover;
        }

        .goods-card-name {
            /*background-color: cadetblue;*/
            margin: 10px 0px 0px 0px;
            font-weight: bold;
            font-size: var(--text-smaller);
            color: var(--black-normal);
        }

        .goods-card-price {
            /*background-color: lightsalmon;*/
            margin: 0px 0px 0px 0px;
            font-weight: lighter;
            font-size: var(--text-smaller);
            color: var(--color-signature);
        }

    </style>
</head>
<body>
<div class="wrap">
    <div id="header">
        <button id="back-button" class="fas fa-angle-left fa-3x" onclick="onClickBack()" type="button"></button>
        <h1><%= user_id %> 님이 눈여겨보신 물건들이예요</h1>
    </div>

    <div id="goods-box">
        <% for (let i = 0; i < likedGoods.length; i++) { %> <!-- Change goodsList to likedGoods -->
            <!-- goods card -->
            <div class="goods-card">
                <img class="goods-card-img" src="<%= likedGoods[i].images %>" alt="Card image cap"> <!-- Change goodsList to likedGoods -->
                <div class="goods-card-body">
                    <p class="goods-card-name"><%= likedGoods[i].user_id %></p> <!-- Change goodsList to likedGoods -->
                    <p class="goods-card-price"><%= likedGoods[i].price %>원</p> <!-- Change goodsList to likedGoods -->
                </div>
            </div>
            <!-- end goods card -->
        <% } %>
    </div>
</div>
</body>
</html>
