<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <!-- 이거 없으면 에러-->
    <script>
        function onClickLogin() {
            let id = $('#id').val();
            let password = $('#password').val();

            if (!id || !password) {
                alert('올바른 아이디와 비밀번호를 입력해주세요.');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/user/login",
                data: {id_give: id, password_give: password},
                success: function (response) {
                    let received_message = response['message'];
                    alert(received_message);
                    if (response['success']) {
                        window.location.href = '/market';
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <br>
                <h1 style="font-size: 350%; text-shadow: 0 0 10px #f3f3f3;">Log in</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="id" class="form-control" placeholder="아이디">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="password" class="form-control" placeholder="비밀번호">
                    </div>
                    <div class="form-group">
                        <input type="button" onclick="onClickLogin()" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links" style="font-size: 18px">
                    회원이 아니신가요?
                    <a href="/user/register" style="color: #75d8ff">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
