<!DOCTYPE html>
<html>

<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="https://fonts.google.com/?subset=korean&noto.script=Kore">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Hahmlet', sans-serif;
    }

    .h1 {
      margin: 0 100px;

    }

    .h1 h1 {
      background-color: #bfc2ec;
      /* 원하는 배경 색상으로 변경 */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      font-family: 'Song Myung', sans-serif;
      padding: 100 100 100 100;
      font-size: 30px;
    }

    .h2 {
      margin: 0 100px;

    }

    .h2 h2{
      background-color: #464da9;
      /* 원하는 배경 색상으로 변경 */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      font-family: 'Song Myung', sans-serif;
      padding: 100 100 100 100;
      font-size: 30px;
    }
  </style>

</head>

<body>
  <%- include('navigator.html') %>
    <div class="h1">
      <h1>이제는 현금자산이 아닌,<br>가상화폐로 물품거래를 해보세요</h1>
    </div>

    <div class="h2">
      <h2>이제는 현금자산이 아닌,<br>가상화폐로 물품거래를 해보세요</h2>
    </div>
</body>

</html>