<!DOCTYPE html>
<html lang="en">

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

    <!-- 이거 없으면 에러-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        function onClickSubmit() {
            let id = $('#id').val();
            let password = $('#password').val();
            let passwordCheck = $('#password-check').val();
            let email = $('#email').val();
            let access_key =$('#access_key').val();
            let secret_key =$('#secret_key').val();
            let loc =$('#loc').val();
    
            if (!id || !password || !passwordCheck || !email ||!access_key || !secret_key || !loc) {
                alert('모든 항목을 입력해주세요.');
                return;
            }
    
            if (password !== passwordCheck) {
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
                return;
            }
    
            $.ajax({
                type: "POST",
                url: "/user/register",
                data: { id_give: id, password_give: password, password_check: passwordCheck, email_give: email ,access_key_give: access_key,secret_key_give:secret_key,loc_give:loc},
                success: function (response) {
                    console.log(response); // 확인용 로그
                    if (response.success === true) {
                        window.location.href = '/greeting';
                    } else {
                        alert(response.message);
                    }
                }                
            });
        }
    </script>
    
    
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 58%">
                <div class="card-header" style="text-align: center">
                    <br>
                    <h1 style="font-size: 350%; text-shadow: 0 0 10px #f3f3f3;">회원가입</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="id" class="form-control" placeholder="아이디">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password" class="form-control" placeholder="비밀번호">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password-check" class="form-control" placeholder="비밀번호 확인">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="email" class="form-control" placeholder="이메일">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="access_key" class="form-control" placeholder="access_key">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="secret_key" class="form-control" placeholder="secret_key">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="loc" class="form-control" placeholder="loc">
                        </div>
                        <div class="form-group">
                            <input type="button" onclick="onClickSubmit()" value="Sign up"
                                class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links" style="font-size: 18px">
                        이미 회원이신가요?
                        <a href="/user/login" style="color: #75d8ff">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
